@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

:root {
  font-family: Helvetica, 'Noto Sans KR', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
}


body {
  font-family: sans-serif;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(to right, #F7CAC9, #92A8D1);
  scrollbar-width: thin;
}

h1,h2,h3,h4,h5{
  font-weight: bold;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 1.5rem;
}

button:not:has(.btn) {
  background: transparent;
  border: transparent;
  cursor: pointer;
}
button:focus,
button:focus-visible {
  outline: 0px auto -webkit-focus-ring-color;
}

main {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
}
